@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

<div id="MainContainer">
    <center>
    <table>
        <tbody>
            <h1>
                My Gram
                <input type="text" placeholder="Search" required>
                <button class="GramButtons">Log in</button>
                <button class="GramButtons">Sign in</button>
            </h1>
        </tbody>
    </table>
        </center>
    <table id="MainProfileInformation">
        <tbody>
            <tr>
                <td rowspan="3">
                    <img src="https://i.imgflip.com/1x09yu.jpg" />
                </td>
                <td>
                    <span>Esteban Salomon</span>
                </td>
                <td>
                    <button class="GramButtons">Follow</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="FontBold">6</span>
                    <span>
                        Posts<span>
                            <span class="FontBold">1,000</span>
                            <span>
                                Followers<span>
                                    <span class="FontBold">100</span>
                                    <span>Following<span>
                <td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>Hello I'm Esteban and I like videogames</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="SectionsTable">
        <table id="Sections">
            <tbody>
                <tr>
                    <td>
                        <img src="https://spy.com/wp-content/uploads/2020/10/best-gaming-console.png?w=958&h=599&crop=1" />
                        <br>
                        <span>My Favorite consoles</span>
                    </td>
                    <td>
                        <img src="https://store.ubi.com/on/demandware.static/-/Library-Sites-shared-library-web/default/dw699315d7/landings/2020/ubisoftplus-games-redesign/ubisoft-plus_hero.jpg" />
                        <br>
                        <span>My Favorite games</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="Options">
        <table id="OptionsTable">
            <tbody>
                <tr>
                    <td>
                        <span>POSTS</span>
                    </td>
                    <td>
                        <span>REELS</span>
                    </td>
                    <td>
                        <span>IGTV</span>
                    </td>
                    <td>
                        <span>TAGGED</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="MainImagesContainer">
        <table id="MainImages">
            <tbody>
                <tr>
                    <td>
                        <img src="https://digest.bps.org.uk/wp-content/uploads/2019/10/gettyimages-1045346796.jpg" />
                    </td>
                    <td>
                        <img src="https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/warzone/strategy-guide/articles/2021/chapter-1/01e-controls-/01E-Controls-001.jpg" />
                    </td>
                    <td>
                        <img src="https://img.redbull.com/images/c_fill,w_1500,h_1000,g_auto,f_auto,q_auto/redbullcom/2020/3/31/lqnzewbhsj9cksy25jzg/gameon" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://pyxis.nymag.com/v1/imgs/160/7b8/be9b71674a92129013428120b1a0c699b7-howtogetintodrawing.rsocial.w1200.jpg" />
                    </td>
                    <td>
                        <img src="https://i.pinimg.com/originals/5d/73/9c/5d739c284cc309332f2f1e1d83518b1c.png" />
                    </td>
                    <td>
                        <iframe width="200" height="200" src="https://www.youtube.com/embed/XaO_3GcQyiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
